<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <form th:method="POST" th:action="@{/edit}" th:object="${user}" >
            <input type="hidden" name="id" th:field="*{id}">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name">
            <br>
            <label for="age">Age</label>
            <input type="text" th:field="*{age}" id="age">
            <br>
            <input type="submit" value="Edit user">
        </form>
    </div>
</body>
</html>