<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <table border="1">
            <tbody>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>operation</th>
            </tr>
            <tr  th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td>
                    <a href="usersPage.html" th:href="@{/edit/{userId}(userId=${user.id})}">edit</a>
                    <a href="usersPage.html" th:href="@{/delete/{userId}(userId=${user.id})}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <br>
    <a href="usersPage.html" th:href="@{/new/}">Add</a>
</body>
</html>